################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/funky hack/.vs/funky hack/v16
/funky hack/Debug
/funky hack/funky hack
/funky hack/funky hack.sln
